<div class="login-container">
    <div class="login-card">
      <h2>Login</h2>
      
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        
        <!-- Campo Usuario -->
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="username" placeholder="Ingresa tu usuario">
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">
            Usuario requerido
          </mat-error>
        </mat-form-field>
  
        <!-- Campo Contraseña -->
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" placeholder="Ingresa tu contraseña">
          
          <!-- Botón para mostrar/ocultar contraseña -->
          <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
            <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>

          <mat-error *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
            Contraseña requerida
          </mat-error>
        </mat-form-field>
  
        <!-- Botón de Login -->
        <button mat-flat-button color="primary" class="login-btn" type="submit" [disabled]="loginForm.invalid">
          <mat-icon>login</mat-icon>
          Ingresar
        </button>
  
        <!-- Enlace de "Olvidaste tu contraseña?" -->
        <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
  
      </form>
    </div>
</div>
